<div class="splash-container" style="margin:0">

<div class="login-box" style="padding-top: 7%;">
    <div class="login-logo">
      
    </div>
    <div class="login-box-body" style="border-radius: 10px;">
        <div class="ribbon"></div>
        <p class="login-box-msg">Notice</p>
        <h5 id="mainsuccess" class="alert alert-success" >Your registertion request has been subimitted to admin, please wait till approval.</h5>
        <h5 id="mainerror" class="alert alert-danger" style="display: none"></h5>
    </div>
</div>
</div>