<div class="container-fluid" style="padding: 0">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <!-- <div class="card-group">
        <div class="row" style="width:100%;    margin: 0;">
            <div class="event-calender">

                <div class="selectWrapper-div">
                    <div class="datepicker-header">
                        <div class="dp-arrow-div">
                             <a class="dp-prev" href="#" data-select="prev"><i
                                class="fa fa-angle-left"></i></a><a class="dp-next" href="#" data-select="next"><i
                                class="fa fa-angle-right"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="s-wrap">
                    <div class="sidebar">
                        <div class="table-div">

                            <table class="table-datepicker">
                                <tr class="d-th">
                                    <td class="d-td empty-cell" >&nbsp;</td>
                                </tr>
                                <tr class="d-tr">
                                    <td class="d-td empty-cell">
                                        <div>&nbsp;</div>
                                    </td>

                                </tr>
                                <tr class="d-tr" *ngFor="let company of this.compaines;">

                                    <td class="d-td main-tr-parent">
                                        <table class="table-group">
                                            <tr>
                                                <td class="d-td main-heading">
                                                    <textarea class="textarea" data-gramm="false">{{company.company_name}}</textarea>
                                                </td>
                                            </tr>
                                            
                                            <tr *ngFor="let task of company.titles">
                                                <td class="d-td sub-heading">
                                                <textarea class="textarea" data-gramm="false">{{task.label}}</textarea>
                                            </td>
                                            </tr>

                                        </table>
                                    </td>

                                </tr>




                            </table>
                        </div>
                    </div>
                    <div class="table-div">
                        <table class="table-datepicker">

                            <tr class="d-th">
                                <td class="d-td" *ngFor="let day of this.days">{{day}}</td>
                            </tr>

                            <tr class="d-tr" *ngIf="this.dates.length > 0">
                                <td class="d-td" *ngFor="let SheetDate1 of this.dates;">
                                    <div>{{ SheetDate1.small_date }}</div>
                                </td>
                               
                            </tr>

                            <tr class="d-tr" *ngFor="let company of this.compaines">
                                <td colspan="100%" class="d-td main-tr-parent2">
                                    <table class="table-group-2">
                                        <tbody>
                                        <tr class="d-tr">

                                            <td class="d-td" *ngFor="let SheetDate of this.dates;">
                                                <textarea readonly="true" class="textarea" ></textarea>
                                            </td>
                                            
                                        </tr>
                                        <tr class="d-tr" *ngFor="let task of company.titles">

                                            <td class="d-td" *ngFor="let SheetDate of this.dates;" >

                                                        <textarea [readonly]="disableAllInputs" class="textarea" id="{{ SheetDate.full_date }}__{{ task.name }}" value="" ></textarea>

                                            </td>
                                           
                                        </tr>
                                        
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                          

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <div class="card-group">
    <div class="row" style="width:100%;    margin: 0;">
        <div class="event-calender">

            <div class="selectWrapper-div">
                <div class="datepicker-header">
                    <div class="dp-arrow-div">
                        <a class="dp-prev"  (click)="prev()" data-select="prev"><i
                            class="fa fa-angle-left"></i></a>
                        <a class="dp-next"  (click)="next()" data-select="next"><i
                            class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="s-wrap">
                <!-- <div class="sidebar">
                    <div class="table-div">

                        <table class="table-datepicker">
                            <tr class="d-th">
                                <td class="d-td empty-cell" >&nbsp;</td>
                            </tr>
                            <tr class="d-tr">
                                <td class="d-td empty-cell">
                                    <div>&nbsp;</div>
                                </td>

                            </tr>
                            <tr class="d-tr">
                                <td class="d-td empty-cell">
                                    <div>&nbsp;</div>
                                </td>

                            </tr>
                            <tr class="d-tr" *ngFor="let company of this.compaines;">

                                <td class="d-td main-tr-parent">
                                    <table class="table-group">
                                        <tr>
                                            <td class="d-td main-heading">
                                                <textarea class="textarea" data-gramm="false">{{company.company_name}}</textarea>
                                            </td>
                                        </tr>
                                        
                                        <tr *ngFor="let task of company.titles">
                                            <td class="d-td sub-heading">
                                            <textarea class="textarea" data-gramm="false">{{task.label}}</textarea>
                                        </td>
                                        </tr>

                                    </table>
                                </td>

                            </tr>




                        </table>
                    </div>
                </div> -->
                <div class="table-div">
                    <table class="table-datepicker">

                        <tr class="d-th">
                            <td class="d-td empty-cell" >&nbsp;</td>
                            <td class="d-td empty-cell" >&nbsp;</td>
                            <td class="d-td sub-heading" *ngFor="let day of this.days">{{day}}</td>
                        </tr>

                        <tr class="d-tr" *ngIf="this.dates.length > 0">
                            <td class="d-td empty-cell main-th-heading" >&nbsp;</td>
                            <td class="d-td empty-cell" >&nbsp;</td>
                            <td class="d-td" *ngFor="let SheetDate1 of this.dates;">
                                <div>{{ SheetDate1.small_date }}</div>
                            </td>
                           
                        </tr>

                        <tr class="d-tr" *ngIf="this.dates.length > 0">
                            <td class="d-td empty-cell main-th-heading" >&nbsp;</td>
                            <td class="d-td empty-cell" >&nbsp;</td>
                            <td class="d-td checkInCheckoutOutCont" *ngFor="let SheetDate1 of this.dates;">
                                 <div class="box_red" *ngIf="SheetDate1.punched_in">In: {{ SheetDate1.punched_in }}</div>
                                 <div class="box_purple" *ngIf="SheetDate1.punched_out">Out: {{ SheetDate1.punched_out }}</div>
                                 <div class="box_blue" *ngIf="SheetDate1.breakTime">B: {{ SheetDate1.breakTime.minute }} min : {{ SheetDate1.breakTime.seconds }} sec</div>
                            </td>
                           
                        </tr>

                        <tr class="d-tr" *ngFor="let company of this.compaines">
                            <td class="d-td main-th-heading" >
                                {{company.company_name}}
                            </td>
                            <td colspan="100%" class="d-td main-tr-parent2">
                                <table class="table-group-2">
                                    <tbody>
                                    <!-- <tr class="d-tr">

                                        <td class="d-td" *ngFor="let SheetDate of this.dates;">
                                            <textarea readonly="true" class="textarea" ></textarea>
                                        </td>
                                        
                                    </tr> -->
                                    <tr class="d-tr" *ngFor="let task of company.titles">
                                        <td class="d-td">
                                            <textarea [readonly]="true" class="textarea">{{ task.label }}</textarea>
                                        </td>
                                        <td class="d-td" *ngFor="let SheetDate of this.dates;" >

                                            <!-- <span *ngFor="let sheetData of timesheetData;">
                                                <span *ngIf="sheetData.date==SheetDate.full_date && sheetData.task_name == task.name && sheetData.hours_worked!=''"> -->
                                                    <textarea [readonly]="disableAllInputs" class="textarea" id="{{ SheetDate.full_date }}__{{ task.name }}" value="" ></textarea>
                                                <!-- </span> -->

                                            <!-- </span>     -->
                                        </td>
                                       
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                      

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>


    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" *ngIf="approveTimesheetMessage!=''">{{ approveTimesheetMessage }}</div>
            <div class="alert alert-warning" *ngIf="rejectTimesheetMessage!=''">{{ rejectTimesheetMessage }}</div>
        
            <div class="form-group">
                <textarea type="text" rows="5" class="form-control" [(ngModel)]="remarks" placeholder="Remarks"></textarea>
                <p *ngIf="this.remarks_msg" style="color:red;font-size:small;"> {{ this.remarks_msg }} Remarks is required</p>
            </div>
        </div>
        <div class="col-md-4" *ngIf="this.timesheetSubmissionsLogs.length > 0" style="overflow: auto;max-height: 100px;">
            <h3>Logs</h3> 
            <p *ngFor="let submission of (this.timesheetSubmissionsLogs)?.slice().reverse();let i=index">
                 <span *ngIf="submission.status==0">{{ i +1 }}. Pending</span>
                 <span *ngIf="submission.status==1">{{ i +1 }}. Approved ({{ submission.remarks }})</span>
                 <span *ngIf="submission.status==2">{{ i +1 }}. Rejected ({{ submission.remarks }})</span>
                 
             </p>   
        </div>
    </div>

    <button class="btn btn-primary" (click)="approveTimesheet()">Approve Timesheet</button>
    <button class="btn btn-danger" (click)="rejectTimesheet()" style="margin-left:5px;">Reject Timesheet</button>


</div>