h2.card-header span {
  margin-bottom: 5px;
  display: block;
  margin-top: 5px;
}
.is_admin_container{
  padding: 6px;
  background-color: #352c6d;
  border-radius: 51px;
  color: white;
  font-size: 10px;
}